* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}


body {
    background-color: rgb(50, 0, 53);
    color: white;
}

.logo {
    width: 216px;
    height: 144px;
}

div {
    
}

.linha-01 {
    height: 1px;
    border: none;
    color: rgb(220, 220, 220);
    background-color: rgb(220, 220, 220);
    margin-top: 0px;
    margin-bottom: 0px;
}

.areaMenu {
    padding: 10px;
}

ul li {
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    color: white;
    float: left;
}

.menu-area {
    
    color: white;
  
}